<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. Built with <a href="https://github.com/nickjamesio/uno-zen" target="_blank">Uno Zen</a>. Original design by <a href="https://daleanthony.com" target="_blank">Dale Anthony</a>.
  </span>
</footer>
